/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* * {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
} */

.container {
  max-width: 800px;
  margin: 0 auto;
  /* padding: 50px; */
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 20px 5px;
  color: #3c376f;
  font-size: 2rem;
}

button span {
  position: relative;
  display: inline-block;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.previous:hover span {
  -webkit-transform: translateX(-10px) scale(1.2);
  -ms-transform: translateX(-10px) scale(1.2);
  transform: translateX(-10px) scale(1.2);
}

.next:hover span {
  -webkit-transform: translateX(10px) scale(1.2);
  -ms-transform: translateX(10px) scale(1.2);
  transform: translateX(10px) scale(1.2);
}

/* .slider {
  background: black;
} */

.slider-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.slider-nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.slider img {
  /* object-position: 0% 10%; */
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
  display: none;
  -webkit-box-shadow: 10px 10px 20px 0 rgba(94, 47, 59, 0.2);
  box-shadow: 10px 10px 20px 0 rgba(94, 47, 59, 0.2);
}

.slider img.active {
  display: block;

  -webkit-animation: fadeImg 3s;
  animation: fadeImg 3s;
}
.slider img.leaving {
  display: block;
  -webkit-animation: fadeOut 1.5s;
  animation: fadeOut 1.5s;
}

/* .slider-nav .arrow {
  flex: 0 0 15%;
} */

.slider-nav a {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider-nav span {
  display: block;
  width: 100%;
}

@-webkit-keyframes fadeImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media screen and (max-width: 700px) {
  .slider img {
    height: 200px;
    /* object-position: 0% 20%; */
  }
}
