* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf");
}
html {
  font-size: 62.5%;
  background: #ffffff;
  --main-color: #43a28a;
  --second-color: #378672;
  --h-color: #000000;
  --text-color: #333333;
  --link-hover-color: #bbbcbc;
  --header1-responsive: calc(2rem + 1vw);
  --header2-responsive: calc(1.2rem + 1vw);
  --menu-button: 1.3rem;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 1.9rem;
}

/* Header */
.main-head {
  text-align: center;
  padding-top: 2rem;
}
.main-head h1 {
  color: var(--main-color);
  font-weight: normal;
}
.main-head h2 {
  color: var(--h-color);
  font-weight: normal;
}
nav img {
  width: 90%;
  height: 2rem;
}
#nav-links {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: var(--menu-button);
  font-weight: bold;
}
#nav-links a {
  padding: 0.7rem;
}
#nav-links a:link,
a:visited {
  color: var(--main-color);
  text-decoration: none;
}
#nav-links a:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}
#menu-icon {
  display: none;
}
#menu-icon img {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
}
#drop-menu-responsive {
  display: none;
}

/* Responsive */
@media screen and (max-width: 700px) {
  h1 {
    font-size: var(--header1-responsive);
  }
  h2 {
    font-size: var(--header2-responsive);
  }
  #menu-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 4rem;
  }
  #menu-icon a {
    height: 4rem;
  }
  #nav-links {
    display: none;
    background: #efecec;
    flex-direction: column;
    border-radius: 3px;
    position: absolute;
    margin-left: 0.8rem;
    margin-top: 4.5rem;
    padding: 0;
    box-shadow: -1px 2px 7px rgba(0, 0, 0, 0.25);
  }
  #nav-links a {
    text-decoration: none;
    display: flex;
    padding: 1rem;
  }
  #nav-links a:hover {
    color: #f1f7bc;
  }
  #nav-links li {
    font-size: var(--menu-button);
    font-weight: bold;
    border-bottom: 1px solid #e1dede;
  }
  #nav-links li:last-child {
    border-bottom: none;
  }
  #nav-links li:hover {
    background: var(--main-color);
  }
  #nav-links li:first-child:hover {
    background: var(--main-color);
    border-radius: 3px 3px 0px 0px;
  }
  #nav-links li:last-child:hover {
    background: var(--main-color);
    border-radius: 0px 0px 3px 3px;
  }
}

/* Footer */
.first-foot {
  display: flex;
  background: var(--main-color);
  height: 6rem;
}
.last-foot {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--second-color);
  color: #ffffff;
  height: 7rem;
}
.last-foot h2 {
  font-weight: normal;
}
