/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}
html {
  height: 100%;
  font-size: 62.5%;
  background: #ffffff;
  --main-color: #43a28a;
  --second-color: #378672;
  --h-color: #000000;
  --text-color: #333333;
  --link-hover-color: #bbbcbc;
  --click-link-color: #f1f7bc;
  --header1-responsive: calc(2rem + 1vw);
  --header2-responsive: calc(1.3rem + 1vw);
  --p-responsive: calc(1.2rem + 1vw);
  --menu-button: 1.4rem;
}

body {
  min-height: 100%;
  position: relative;
  padding-bottom: 13rem;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  min-width: 32rem;
}
h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 2rem;
}
p {
  font-size: 1.9rem;
  line-height: 1.5;
  color: var(--text-color);
}
.title-section {
  margin: 2rem 0 2rem 0;
}
a {
  color: var(--main-color);
}
li {
  font-size: 1.9rem;
  line-height: 1.5;
  color: var(--text-color);
}

/* Header */
.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.index-link-header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
}
.index-link-header-menu img {
  height: 128px;
}
.index-link-header-menu div {
  text-align: left;
  line-height: 3rem;
}

.main-head {
  text-align: center;
  padding-top: 2rem;
  max-width: 125rem;
  margin: auto;
}
.main-head h1 {
  color: var(--main-color);
  font-weight: normal;
}
.main-head h2 {
  color: var(--h-color);
  font-weight: normal;
}
nav img {
  width: 90%;
  height: 2rem;
}
#nav-links {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  list-style-type: none;
  font-weight: bold;
}
#nav-links a {
  padding: 0.7rem;
}
#nav-links li {
  font-size: var(--menu-button);
}
#nav-links a:link,
a:visited {
  color: var(--main-color);
  text-decoration: none;
}
#nav-links a:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}
#link-nav-theta {
  padding: 0.7rem;
  color: var(--main-color);
  cursor: pointer;
}
#link-nav-theta:hover {
  color: var(--link-hover-color);
}
#link-nav-medita {
  padding: 0.7rem;
  color: var(--main-color);
  cursor: pointer;
}
#link-nav-medita:hover {
  color: var(--link-hover-color);
}
#menu-icon {
  display: none;
}
#menu-icon img {
  width: 3rem;
  height: 3rem;
  margin: 1rem 0.5rem;
}
#drop-menu-responsive {
  display: none;
}
#nav-thetahealing {
  display: none;
  margin-top: 1.5rem;
  margin-left: -4rem;
  position: absolute;
  z-index: 2;
  list-style-type: none;
  background: #efecec;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 3px;
  padding: 0;
  -webkit-box-shadow: -1px 2px 7px rgba(0, 0, 0, 0.25);
  box-shadow: -1px 2px 7px rgba(0, 0, 0, 0.25);
}

#nav-thetahealing a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.4rem;
  text-align: left;
  color: var(--main-color);
}
#nav-thetahealing a:hover {
  color: var(--click-link-color);
}
#nav-thetahealing li {
  font-size: 1.4rem;
  font-weight: bold;
  border-bottom: 1px solid #e1dede;
}
#nav-thetahealing li:last-child {
  border-bottom: none;
}
#nav-thetahealing li:hover {
  background: var(--main-color);
}
#nav-thetahealing li:first-child:hover {
  background: var(--main-color);
  border-radius: 3px 3px 0px 0px;
}
#nav-thetahealing li:last-child:hover {
  background: var(--main-color);
  border-radius: 0px 0px 3px 3px;
}
#nav-meditation {
  display: none;
  margin-top: 1.5rem;
  margin-left: 2rem;
  position: absolute;
  z-index: 2;
  list-style-type: none;
  background: #efecec;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 3px;
  padding: 0;
  -webkit-box-shadow: -1px 2px 7px rgba(0, 0, 0, 0.25);
  box-shadow: -1px 2px 7px rgba(0, 0, 0, 0.25);
}

#nav-meditation a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.4rem;
  text-align: left;
  color: var(--main-color);
}
#nav-meditation a:hover {
  color: var(--click-link-color);
}
#nav-meditation li {
  font-size: 1.4rem;
  font-weight: bold;
  border-bottom: 1px solid #e1dede;
}
#nav-meditation li:last-child {
  border-bottom: none;
}
#nav-meditation li:hover {
  background: var(--main-color);
}
#nav-meditation li:first-child:hover {
  background: var(--main-color);
  border-radius: 3px 3px 0px 0px;
}
#nav-meditation li:last-child:hover {
  background: var(--main-color);
  border-radius: 0px 0px 3px 3px;
}

/* Footer */
.footer-section {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.first-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--main-color);
  height: 6rem;
}
.last-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--second-color);
  color: #ffffff;
  height: 7rem;
}
.last-foot h2 {
  font-weight: normal;
}

/* Main section */
.main-section {
  max-width: 104rem;
  margin: 2rem auto 4rem auto;
  padding-left: 3rem;
  padding-right: 3rem;
}
.main-section p {
  margin-bottom: 2rem;
}
.main-section ul {
  list-style-position: inside;
  margin-bottom: 2rem;
}

.main-section ul > p {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Accueil */
.description-global {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-style: italic;
  gap: 1rem;
}
.description-global p {
  margin-bottom: 0;
  font-size: 1.5rem;
}
.description-quisuisje {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
.description-quisuisje img {
  max-width: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}
.description-quisuisje div {
  padding: 2rem;
  text-align: left;
}
.description-quisuisje h2 {
  font-size: 1.9rem;
  margin-bottom: 0.5rem;
}
.description-thetahealing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
.description-thetahealing img {
  width: 50%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: top;
  object-position: top;
}
.description-thetahealing div {
  max-width: 50%;
  padding: 2rem;
  text-align: left;
}
.description-thetahealing h2 {
  font-size: 1.9rem;
  margin-bottom: 0.5rem;
}
.more-info {
  text-decoration: underline;
  padding: 1rem 0;
  font-style: normal;
}
.more-info:hover {
  color: var(--second-color);
}

/* Qui suis-je */
.biographie-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.biographie-top p {
  padding: 0.3rem 3.5rem;
}
.biographie-top p:last-child {
  margin-bottom: 0;
}
.biographie-top img {
  background-position: 50% 50%;
  max-width: 50%;
  max-height: 150rem;
  -o-object-fit: cover;
  object-fit: cover;
}
#img-fin-bio {
  width: 100%;
  padding: 3rem 25%;
  margin: auto;
}

/* Thetahealing */
.theta-page-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.theta-page-description p {
  margin-bottom: 2rem;
}
.theta-page-description img {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-bottom: 2rem;
  zoom: 1.3;
}
/* Adultes */
.deroulement-seance {
  width: 90%;
  margin: auto;
  padding: 2rem;
  background: #f2fbf2;
}
.deroulement-seance p:last-child {
  margin-bottom: 0;
}

/* Entreprenariat */
.entreprenariat-page img {
  height: 20rem;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Videos */
.meditation-videos {
  margin-bottom: 6rem;
}
.acordion-video {
  font-size: 1.9rem;
  line-height: 1.5;
  color: white;
  font-weight: bold;
  background-color: var(--main-color);
  cursor: pointer;
  padding: 1.8rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  gap: 1rem;
}
.active-video,
.acordion-video:hover {
  background-color: var(--second-color);
}
.acordion-video:after {
  content: "\276F";
  color: white;
  font-weight: bold;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.active-video:after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.middle {
  border: solid var(--second-color);
  border-width: 0.1rem 0;
}
.list-video {
  background-color: #f2fbf2;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.6s ease-out;
  -o-transition: max-height 0.6s ease-out;
  transition: max-height 0.6s ease-out;
}
.video-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 6rem;
}
.video-article:first-child {
  margin-top: 2rem;
}

.video-article:last-child {
  margin-bottom: 2rem;
}
.video-article div {
  width: 50%;
}
.video-article p {
  width: 50%;
  text-align: justify;
  margin-bottom: 0;
  padding: 1.5rem;
}
.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

/* Podcasts */
.div-podcast {
  text-align: center;
  margin-bottom: 6rem;
}
.iframe-podcast {
  display: block;
  width: 80%;
  height: 16.1rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.div-podcast:last-of-type {
  margin-bottom: 4rem;
}
.link-anchor {
  cursor: pointer;
  padding: 1rem 0;
  text-decoration: underline;
  color: var(--main-color);
}
.link-anchor:hover {
  color: var(--second-color);
}

/* Retour de soins */
.temoignages-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  margin-bottom: 6rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.review {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 3rem;
  -webkit-box-shadow: 5px 10px 20px 0px #8888882e;
  box-shadow: 5px 10px 20px 0px #8888882e;
  border-radius: 40px;
  min-width: 28rem;
}
.review p {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: justify;
  margin-bottom: 0;
}
.review img {
  width: 6.4rem;
  height: 6.4rem;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: left;
  object-position: left;
}
.review h2 {
  color: var(--main-color);
  font-size: 1.9rem;
  margin-bottom: 1rem;
  margin-top: 0.1rem;
}
.text-visible {
  margin-bottom: 1rem !important;
}
.hide-panel {
  border: solid var(--second-color);
  border-width: 0 0 0 2px;
}
.open-hide-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.5rem;
  height: 6.4rem;
  cursor: pointer;
}
.open-hide-button img {
  width: 1rem;
  height: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
.text-hide {
  padding: 0 2rem 0 7rem;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}
.active-button-hide {
  color: var(--main-color);
}
.active-button-hide img {
  content: url("../images/icons/minus.png");
}

/* Contact Page */

#form-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 58rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  margin-bottom: 6rem;
}
#form-contact label {
  font-size: 1.9rem;
  margin-bottom: 0.4rem;
  font-weight: bold;
}
.select-sujet {
  font-size: 1.6rem;
  padding: 1rem 1rem;
  border: 1px solid rgba(153, 153, 153, 0.4);
  margin-bottom: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
}
.select-sujet:focus {
  outline: none;
  border-color: var(--main-color);
}

#form-contact input {
  font-size: 1.6rem;
  padding: 1rem 1rem;
  margin-bottom: 1.8rem;
  border: 1px solid rgba(153, 153, 153, 0.4);
  font-family: Arial, Helvetica, sans-serif;
}
#form-contact input:focus {
  outline: none;
  border-color: var(--main-color);
}
#form-contact textarea {
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  border: 1px solid rgba(153, 153, 153, 0.4);
  margin-bottom: 4rem;
  font-family: Arial, Helvetica, sans-serif;
}
#form-contact textarea:focus {
  outline: none;
  border-color: var(--main-color);
}
#envoyer-form {
  background-color: var(--main-color);
  color: white;
  border: none;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 0.4rem;
  cursor: pointer;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding: 1rem 5rem !important;
}
#envoyer-form:hover {
  background-color: var(--second-color);
}

/* Contact Button */
.div-button-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.div-button-contact a,
.div-button-contact button {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
  border: solid var(--second-color);
  text-decoration: none;
  border-radius: 5rem;
  color: var(--second-color);
  font-size: 2rem;
  padding: 1.2rem;
  width: 30rem;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-weight: bold;
  text-align: center;
}
.div-button-contact a:hover,
.div-button-contact button:hover {
  background-color: var(--second-color);
  border: solid var(--second-color);
  color: #ffffff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* Responsive 1000px*/

@media screen and (max-width: 1000px) {
  .description-global {
    gap: 2rem;
  }
  .description-quisuisje {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .description-quisuisje img {
    max-width: 100%;
    width: 100%;
    height: 40rem;
  }
  .description-thetahealing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .description-thetahealing img {
    width: 100%;
    height: 40rem;
  }
  .description-thetahealing div {
    max-width: 100%;
  }
  .iframe-podcast {
    height: 10rem;
  }
}

/* Responsive 700px*/

@media screen and (max-width: 700px) {
  h1 {
    font-size: var(--header1-responsive);
  }
  h2 {
    font-size: var(--header2-responsive);
  }
  p {
    font-size: var(--p-responsive);
  }
  li {
    font-size: var(--p-responsive);
  }
  .main-section {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .header-menu h2 {
    width: 20rem;
    line-height: normal;
  }
  .index-link-header-menu img {
    height: 96px;
  }
  #form-contact label {
    font-size: var(--p-responsive);
  }
  #form-contact input {
    font-size: var(--p-responsive);
  }
  #form-contact textarea {
    font-size: var(--p-responsive);
  }
  #form-contact select {
    font-size: var(--p-responsive);
  }
  #menu-icon {
    margin-left: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  #nav-links {
    display: none;
    background: #efecec;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 3px;
    position: absolute;
    margin-left: 1rem;
    margin-top: 5rem;
    padding: 0;
    -webkit-box-shadow: -1px 2px 7px rgba(0, 0, 0, 0.25);
    box-shadow: -1px 2px 7px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
  #nav-links span {
    padding: 1.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #nav-links a,
  span {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.4rem;
  }
  #nav-links a:hover {
    color: var(--click-link-color);
  }
  #nav-links span:hover {
    color: var(--click-link-color);
  }
  #nav-links li {
    font-weight: bold;
    border-bottom: 1px solid #e1dede;
  }
  #nav-links li:last-child {
    border-bottom: none;
  }
  #nav-links li:hover {
    background: var(--main-color);
  }
  #nav-links li:hover > span,
  a {
    color: var(--click-link-color);
  }
  #nav-links li:first-child {
    border-radius: 3px 3px 0px 0px;
  }
  #nav-links li:last-child {
    border-radius: 0px 0px 3px 3px;
  }
  #nav-meditation {
    margin-top: -4.9rem;
    margin-left: 17rem;
  }
  #nav-thetahealing {
    margin-top: -4.9rem;
    margin-left: 17rem;
  }
  .biographie-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .biographie-top p {
    padding: 0.3rem 0;
  }
  .biographie-top img {
    -o-object-position: 50% 30%;
    object-position: 50% 30%;
    max-width: 100%;
    max-height: 40rem;
    -o-object-fit: cover;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  .temoignages-line {
    margin-bottom: 3rem;
  }
  .div-button-contact a,
  .div-button-contact button {
    font-size: 1.3rem;
    width: 15rem;
  }
  .theta-page-description img {
    zoom: normal;
    max-width: 100%;
  }
  .acordion-video {
    font-size: var(--p-responsive);
    line-height: normal;
    padding: 12px;
  }

  .video-article {
    margin-bottom: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .video-article p {
    width: 100%;
  }
  .video-article div {
    width: 100%;
  }
  .iframe-podcast {
    width: 100%;
  }
}

/* Responsive 600px*/

@media screen and (max-width: 600px) {
  .description-global {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .description-quisuisje {
    width: 100%;
  }
  .description-quisuisje img {
    max-height: 20rem;
    -o-object-position: 0% 30%;
    object-position: 0% 30%;
  }
  .description-thetahealing {
    width: 100%;
  }
  .description-thetahealing img {
    max-height: 20rem;
  }
}
