* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf");
}
html {
  font-size: 62.5%;
  background: #ffffff;
  --main-color: #43a28a;
  --second-color: #378672;
  --h-color: #000000;
  --text-color: #333333;
  --link-hover-color: #bbbcbc;
  --header1-responsive: calc(2rem + 1vw);
  --header2-responsive: calc(1.2rem + 1vw);
  --menu-button: 1.3rem;
  --menu-button-responsive: calc(0.7rem + 1vw);
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  min-width: 32rem;
}
h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 1.9rem;
}
.title-section {
  margin: 2rem 0 2rem 0;
}

/* Header */
.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-menu img {
  height: 128px;
}
.header-menu div {
  text-align: left;
  line-height: 3rem;
}
.main-head {
  text-align: center;
  padding-top: 2rem;
  max-width: 125rem;
  margin: auto;
}
.main-head h1 {
  color: var(--main-color);
  font-weight: normal;
}
.main-head h2 {
  color: var(--h-color);
  font-weight: normal;
}
nav img {
  width: 90%;
  height: 2rem;
}
#nav-links {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: var(--menu-button);
  font-weight: bold;
}
#nav-links a {
  padding: 0.7rem;
}
#nav-links a:link,
a:visited {
  color: var(--main-color);
  text-decoration: none;
}
#nav-links a:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}
#menu-icon {
  display: none;
}
#menu-icon img {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
}
#drop-menu-responsive {
  display: none;
}

/* Footer */
.first-foot {
  display: flex;
  background: var(--main-color);
  height: 6rem;
}
.last-foot {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: var(--second-color);
  color: #ffffff;
  height: 7rem;
}
.last-foot h2 {
  font-weight: normal;
}

/* Main section */
.main-section {
  max-width: 104rem;
  margin: 2rem auto 4rem auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Biographie */
.biographie {
  display: flex;
}
.biographie figure {
  background-position: 50% 50%;
  width: 50%;
  min-height: 250px;
  background-size: cover;
}
.biographie p {
  width: 50%;
  padding: 0.3rem 3.5rem;
  font-size: 1.9rem;
  color: var(--text-color);
  text-align: left;
  line-height: 1.5;
}
.text-bio {
  font-size: 1.9rem;
  color: var(--text-color);
  text-align: left;
  line-height: 1.5;
  margin-top: 3rem;
  padding: 0 3rem;
}
#img-fin-bio {
  width: 100%;
  padding: 3rem 25%;
  margin: auto;
}

/* Témoignages */
.temoignages-line {
  display: flex;
  gap: 3rem;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}
.review {
  flex: 1;
  padding: 3rem;
  box-shadow: 5px 10px 20px 0px #8888882e;
  border-radius: 40px;
  min-width: 28rem;
}
.review p {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: justify;
}
.review img {
  width: 6.4rem;
  height: 6.4rem;
  object-fit: contain;
}
.review h2 {
  color: var(--main-color);
  font-size: 1.9rem;
  margin-bottom: 1rem;
}
.text-visible {
  margin-bottom: 1.5rem;
}
.hide-panel {
  border: solid var(--second-color);
  border-width: 0 0 0 2px;
}
.open-hide-button {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  height: 6.4rem;
  cursor: pointer;
}
.open-hide-button img {
  width: 1rem;
  height: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
.text-hide {
  padding: 0 2rem 2rem 7rem;
  /* display: none; */
}

/* Responsive */
@media screen and (max-width: 700px) {
  h1 {
    font-size: var(--header1-responsive);
  }
  h2 {
    font-size: var(--header2-responsive);
  }
  .header-menu img {
    height: 96px;
  }
  #menu-icon {
    margin-left: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 4rem;
  }
  #menu-icon a {
    height: 4rem;
  }
  #nav-links {
    display: none;
    background: #efecec;
    flex-direction: column;
    border-radius: 3px;
    position: absolute;
    margin-left: 0.8rem;
    margin-top: 4.5rem;
    padding: 0;
    box-shadow: -1px 2px 7px rgba(0, 0, 0, 0.25);
  }
  #nav-links a {
    text-decoration: none;
    display: flex;
    padding: 1rem;
  }
  #nav-links a:hover {
    color: #f1f7bc;
  }
  #nav-links li {
    font-size: var(--menu-button-responsive);
    font-weight: bold;
    border-bottom: 1px solid #e1dede;
  }
  #nav-links li:last-child {
    border-bottom: none;
  }
  #nav-links li:hover {
    background: var(--main-color);
  }
  #nav-links li:first-child:hover {
    background: var(--main-color);
    border-radius: 3px 3px 0px 0px;
  }
  #nav-links li:last-child:hover {
    background: var(--main-color);
    border-radius: 0px 0px 3px 3px;
  }
  .biographie {
    flex-direction: column;
  }
  .biographie p {
    width: 100%;
    padding: 0.3rem 2rem;
    font-size: var(--header2-responsive);
  }
  .text-bio {
    font-size: var(--header2-responsive);
    padding: 0.3rem 2rem;
  }
  .biographie figure {
    background-position: 50% 30%;
    width: 100%;
    min-height: 300px;
    background-size: cover;
  }
  .review {
    padding: 2rem;
  }
}
